.load-more {
  display: block;
  margin: auto;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: grey;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  color: white;
  cursor: pointer;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

.photo-card {
  width: calc((100% / 4) - 15px);
  border: 1px solid black;
}
.img-card {
  height: 30vh;
}
.info {
  display: flex;
  gap: 20px;
  padding: 10px;
  text-align: center;
}

.is-hidden {
  visibility: hidden;
}
